.card-cnp {
  padding-block: 50px;
  .container {
    h2 {
      color: var(--secondary-color);
      font-size: var(--f1);
      text-transform: uppercase;
      font-weight: 400;
      margin-bottom: 1.3rem;
    }
    .row {
      display: flex;
      flex-wrap: wrap;
      gap: 2rem;
      .col {
        padding: 10px 15px;
        border-left: 2px var(--secondary-color) solid;
        flex-basis: 300px;
        span:first-child {
          display: block;
          color: #696969;
          margin-bottom: 10px;
          font-size: 0.8rem;
        }
        span:last-child {
          font-weight: 400;
        }
      }
    }
    .images {
      margin-block: 100px;
      .img {
        margin-bottom: 10px;
        img {
          max-width: 100%;
        }
      }
    }
  }
}
